
.nav {
    padding: 10px 10px 20px 10px;
    text-align: center;
}

.nav li{
    display: inline;
}

.nav a {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: bold;
  padding: 1px 10px;
  text-transform: uppercase;
}


td.details-control {
    cursor: pointer;
}
tr.shown td.details-control {
    background-color: red;
}

td.highlight {
    background-color: whitesmoke !important;
}

.header{
    padding: 1px 15px;
    color: #5a5a5a;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 5px #888888;
    -moz-box-shadow: 0 10px 5px #888888;
    box-shadow: 0 5px 5px #888888;
}

.highlight {
    background-color: red;
}

#ex1 tbody tr:hover{
    background-color: #F0F0F0;
}

.active{
    background-color: red;
}

#ex2 h1 {
    text-align: center;
    color: #006699;
}

#ex2 {
    width: 25%;
    float: left;
    padding-right: 10px;
    background-color: white;
    height: auto;

}

#ex2 .subnav li{
    direction: ltr;
}

#ex2 .subnav{
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    direction: rtl;
    padding-left: 5px;
}

#ex2 .mainnav li h3{
    font-size: 25px;
    -webkit-box-shadow: 0 10px 5px #888888;
    -moz-box-shadow: 0 10px 5px #888888;
    box-shadow: 0 5px 5px #888888;
    border-radius: 4px;
    text-decoration: none;
    color: #006699;
}

.mainnav li a {
    text-decoration: none;
}

.subnav li a{
    font-size: 20px;
    color: #006699;
}


.subnav li a:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

#ex2 .mainnav{
    padding-left: 10px;
}

#ex2 ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
#ex2 ::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
#ex2 ::-webkit-scrollbar-thumb {
  background: black;
  border: 0 none #ffffff;
  border-radius: 50px;
}
#ex2 ::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
#ex2 ::-webkit-scrollbar-thumb:active {
  background: #000000;
}
#ex2 ::-webkit-scrollbar-track {
  background: white;
  border: 0 none #ffffff;
  border-radius: 50px;
}

#ex2 ::-webkit-scrollbar-track:active {
  background: #333333;
}
#ex2 ::-webkit-scrollbar-corner {
  background: transparent;
}