{% load static %}
{% include "database_of_janacek_works/main_menu.html" %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>album</title>

<style>
    #ex1 {

    margin: auto;

    }

{% comment %}#ex1.clicked {
    width: 70%;
    border: 3px solid red;
}{% endcomment %}

</style>

</head>
<body>

<div class="nav">
    <ul>
        <li><a href='/janacek/piece'>Piece</a></li>
        <li><a href='/janacek/album/' class="selected">Albums</a></li>
        {% comment %}<li><a href="/janacek/arrangement/">Arrangements</a></li>{% endcomment %}
    </ul>
</div>

<div id="ex1">
<table id="album" class="row-border" cellspacing="0" width="100%" data-url="{% url 'rest_album' %}">
    <thead>
    <tr>
        <th>ID</th>
        <th>LABEL NAME</th>
        <th>CATALOGUE NUMBER</th>
        <th>ALBUM NAME</th>
        <th>album_published_year</th>
        <th>published_country</th>
        <th>number_of_media</th>
        <th>recording_technology</th>
        <th>diameter</th>
        <th>rpm</th>
        <th>region_code</th>
        <th>side_coumpling</th>
        <th>tv_system</th>
        <th>sound_system</th>
        <th>medium_type</th>
        <th>subtitles</th>
        <th>comment</th>
        <th>text_language</th>
        <th>text_by</th>
        <th>note_language</th>
        <th>note_by</th>
        <th>libretto_language</th>
        <th>libretto_by</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>

    </tr>
    </tfoot>
</table>
</div>

<div id="ex2">

</div>

<button class="btn1">X</button>

</body>
<script type="text/javascript">

    $(document).ready(function() {
        var table = $('#album').DataTable( {
            select: true,
            dom: 'fBrtip',
            //stateSave: true,
            buttons: [
                {
                    extend: 'colvis',
                    postfixButtons: [ 'colvisRestore' ],
                    columns: ':not(:first-child)'
                }
            ],
            columnDefs: [
                {
                    "targets":[4],
                    "visible": false
                },
                {
                    "targets":[5],
                    "visible": false
                },
                {
                    "targets":[6],
                    "visible": false
                },
                {
                    "targets":[7],
                    "visible": false
                },
                {
                    "targets":[8],
                    "visible": false
                },
                {
                    "targets":[9],
                    "visible": false
                },
                                    {
                    "targets":[10],
                    "visible": false
                },
                                    {
                    "targets":[11],
                    "visible": false
                },
                                    {
                    "targets":[12],
                    "visible": false
                },
                                    {
                    "targets":[13],
                    "visible": false
                },
                                    {
                    "targets":[14],
                    "visible": false
                },
                                    {
                    "targets":[15],
                    "visible": false
                },
                                    {
                    "targets":[16],
                    "visible": false
                },
                                    {
                    "targets":[17],
                    "visible": false
                },
                                    {
                    "targets":[18],
                    "visible": false
                },
                                    {
                    "targets":[19],
                    "visible": false
                },
                                    {
                    "targets":[20],
                    "visible": false
                },
                                    {
                    "targets":[21],
                    "visible": false
                },
                {
                    "targets":[22],
                    "visible": false
                }
            ],
            "pagingType": "input",
            "processing": true,
            "serverSide": true,
            "dataType": "json",
            "ajax": "{% url 'rest_album' %}",
            "pageLength": 15,
            "deferRender": true,
            "columns": [
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'},
                {"className": 'details-control'}
            ]
        });
        });

</script>

<script>
$(".btn1").click(function(){
       $("#ex2").hide();
       $("#ex1").width("100%");
       $(".btn1").hide();

});
</script>



</html>