{% load static %}
{% include "database_of_janacek_works/main_menu.html" %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css">




</head>
<body>
<table id="arrangement" class="hover" cellspacing="0" width="100%" data-url="{% url 'rest_arrangement' %}">
    <thead>
    <tr>
        <th>id</th>
        <th>suitable_for</th>
        <th>arrangemet_for</th>
        <th>arrangemet_by</th>
        <th>perfomr_by</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>

    </tr>
    </tfoot>
</table>


</body>

<script  type="text/javascript">

{% comment %}jQuery.fn.dataTable.Api.register( 'page.jumpToData()', function ( data, column ) {
	var pos = this.column(column, {order:'current'}).data().indexOf( data );

	if ( pos >= 0 ) {
		var page = Math.floor( pos / this.page.info().length );
		this.page( page ).draw( false );
	}

	return this;
    } );{% endcomment %}



    $(document).ready(function() {

        var table = $('#arrangement').DataTable( {
            "pagingType": "input",
            deferRender: true,
            "processing": true,
            "serverSide": true,
            "dataType": "json",
            "pageLength": 20,
            //"displayStart": 50,
            "stateSave": true,
            "ajax": "{% url 'rest_arrangement' %}",
            "columns": [
                {data: [0]}, {data: [1]}, {data: [2]}, {data: [3]},{data: [4]}
            ],

            rowId: [0],
            select: true
            {% comment %}"oSearch": {"sSearch": "orchestra"}{% endcomment %}
            {% comment %},
            "columnDefs":
                {
                    "targets":[3],
                    "visible": false
                },
                {
                    "targets":[4],
                    "visible": false
                },
                {
                    "targets":[5],
                    "visible": false
                },
                {
                    "targets":[6],
                    "visible": false
                },
                {
                    "targets":[7],
                    "visible": false
                },
                {
                    "targets":[8],
                    "visible": false
                }
            ]{% endcomment %}


        });

        {% comment %}table.page.jumpToData(  "Rolf Smedwig", 2  ){% endcomment %}
        {% comment %}table.fnDisplayRow( table.fnGetNodes()[30] );{% endcomment %}

{% comment %}        $('#arrangement').on( 'click', 'tr', function () {
            //var id = table.row( this ).data();
            var id = $(this).find("td:first").text();

            alert( 'Clicked row id '+id );
        } );{% endcomment %}


    });
  </script>

{% comment %}<script>

    $(document).ready(function() {
    var table = $('#arrangement').DataTable();

    $('#arrangement tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );
} );

</script>{% endcomment %}


</html>