{% comment %}{% include "database_of_janacek_works/piece.html" %}{% endcomment %}

{% comment %}<!DOCTYPE html>{% endcomment %}
{% comment %}<html lang="en">{% endcomment %}
<head>
    <meta charset="UTF-8">
    <title>piece detail</title>


<style>

#ex1 {
    width: 70%;
    margin: auto;
    float: right;

    {% comment %}transition: width 2s;{% endcomment %}
}

.ul_container ul{
    list-style: none;
}

</style>
    
</head>
<body>


<h1>{{ piece.cz_title }}</h1>


<div class="ul_container">
    <ul class="mainnav" id="nav">

        <li><a href="javascript:void(0)"><h3>ALBUMS</h3></a>
            <ul class="subnav" id="sub1">
                {% if not piece.album_set.all %}
                    <li>No albums</li>
                {% else %}
                    {% for album in piece.album_set.all %}
                        <li><a href="/janacek/album/detail/{{ album.album_id }}">{{ album.label_name }} {{ album.catalogue_number }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>

        <li><a href="javascript:void(0)"><h3>ARRANGEMENT</h3></a>
            <ul class="subnav" id="sub1">
                {% if not piece.arrangement_set.all %}
                        <li>No arrangements</li>
                {% else %}
                    {% for arrangement in piece.arrangement_set.all %}
                        <li>{{ arrangement.suitable_for }} {{ arrangement.arrangemet_for }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>


{% comment %}        <li><a href="javascript:void(0)"><h3>MOVEMENTS</h3></a>
            <ul class="subnav" id="sub1">

                    {% for interpret in piece.i %}
                        <li>{{ movement.movement_order }}. {{ movement.movement_title }}</li>
                    {% endfor %}

            </ul>
        </li>{% endcomment %}


        <li><a href="javascript:void(0)"><h3>MOVEMENTS</h3></a>
            <ul class="subnav" id="sub1">
                {% if not piece.piecemovement_set.all %}
                    <li>No movements</li>
                {% else %}
                    {% for movement in piece.piecemovement_set.all %}
                        <li>{{ movement.movement_order }}. {{ movement.movement_title }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>

{% comment %}

        <li><a href="javascript:void(0)"><h3>INTERPRETS</h3></a>
            <ul class="subnav" id="sub1">

                    {% for interpret in piece.interpret_set.all %}
                        <li>{{ interpret.interpret_name }}</li>
                    {% endfor %}

            </ul>
        </li>
{% endcomment %}

    </ul>
</div>





</body>

<script>
if (localStorage.getItem("state") == "closed") // <-- this checks closed/open state and sets subnav accordingly
$('.subnav').show();


$('.subnav').parent().click(function () {
    $(this).find('#sub1').toggle(); //<-- This toggles the menu open/close

    // ** Block to remeber state ** //
    if (localStorage.getItem("state") == "open") {
        localStorage.setItem("state", "closed"); // <-- this remembers "open" after user navigates
    } else {
        localStorage.setItem("state", "open"); // <-- this remembers "open" after user navigates
    }
    // ** Block to remeber state ** //
});
</script>

{% comment %}
</html>{% endcomment %}
