{% load static %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>

    <script type="text/javascript" src=" {% static "datatableview/static/js/datatableview.js" %}"></script>


    <ul id="menu">
        <li><a href="/janacek/piece/">Piece</a></li>
        <li><a href="/janacek/album/">Albums</a></li>
        <li><a href="/janacek/arrangement">Arrangements</a></li>
        <li><a href="/janacek/movement">Movements</a></li>
    </ul>

</head>
<body>

    {{ datatable }}

</body>
</html>