{# piece_list.html #}
{% load static %}

{% block media %}

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>

    <script type="text/javascript" src=" {% static "datatableview/static/js/datatableview.js" %}"></script>

   {% comment %} <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}datatableview/static/js/datatableview.js"></script>{% endcomment %}


    {% comment %}<script type="text/javascript" src="{{ STATIC_URL }}js/datatableview.js"></script>{% endcomment %}

{% endblock %}

{% block content %}
    {{ datatable }}
{% endblock %}