{% load staticfiles %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'database_of_janacek_works/style.css' %}" />

    <ul id="menu">
        <li><a href="/janacek/piece/">Piece</a></li>
        <li><a href="/janacek/album/">Albums</a></li>
    </ul>


</head>
<body>
<table id="example" class="display" cellspacing="0" width="100%" data-url="{% url 'rest_piece_data' %}">
    <thead>
    <tr>
        <th>CZ TITLE</th>
        <th>EN TITLE</th>
        <th>CATALOGUE NUMBER</th>
        <th>TIME OF COMPOSITION</th>
        <th>DATE OF PREMIERE</th>
        <th>PLACE OF PREMIERE</th>
        <th>COMPOSE FOR</th>
        <th>NUMBER OF MOVEMENT</th>
        <th>WIKI</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>

    </tr>
    </tfoot>
</table>
</body>

    <script type="text/javascript">

    {% comment %}/* Formatting function for row details - modify as you need */{% endcomment %}

    function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Compose for:</td>'+
            '<td>'+d[6]+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Number of movement:</td>'+
            '<td>'+d[7]+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Wiki link:</td>'+
            '<td>www.wiki.com</td>'+
        '</tr>'+
    '</table>';
    }

    $(document).ready(function() {
        var table = $('#example').DataTable( {
            "processing": true,
            "serverSide": true,
            "dataType": "json",
            "ajax": "{% url 'rest_piece_data' %}",
            "columns": [
                {   "className": 'details-control',}
            ],
            "columnDefs": [
                {
                    "targets":[6],
                    "visible": false
                },
                {
                    "targets":[7],
                    "visible": false
                },
                {
                    "targets":[8],
                    "visible": false
                }
            ]
        });

    // Add event listener for opening and closing details
    $('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        });
    });
    </script>


</html>