{% load static %}
{% include "database_of_janacek_works/main_menu.html" %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>piece</title>

<style>
    #ex1 {
    margin: auto;

    }


</style>
</head>
<body>

<div id="ex1">
    <table id="piece" class="row-border" cellspacing="0" width="100%" data-url="{% url 'rest_piece' %}">
        <thead>
            <tr>
                <th>ID</th>
                <th>CZ TITLE</th>
                <th>EN TITLE</th>
                <th>CAT NUM</th>
                <th>COMPOSE PERIOD</th>
                <th>PREMIERE DATE</th>
                <th>PREMIERE PLACE</th>
                <th>COMPOSE FOR</th>
                <th>MOVEMENT</th>
                <th>wiki</th>
            </tr>
        </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>

    </tr>
    </tfoot>
</table>

</div>

<button class="btn1">Hide</button>
<button class="show">Show</button>

<div id="ex2">

</div>

</body>

<script  type="text/javascript">

   $(document).ready(function() {
        var table = $('#piece').DataTable( {
            select: true,
            dom: 'lfBrtip',
            stateSave: true,
            buttons: [
                {
                    extend: 'colvis',
                    postfixButtons: [ 'colvisRestore' ],
                    columns: ':not(:first-child)'
                }
            ],
            columnDefs: [
                {
                    targets: -1,
                    visible: false
                }
            ],
            "processing": true,
            "serverSide": true,
            "dataType": "json",
            "pageLength": 15,
            //"autoWidth": false,
            //"stateSave": true,
            "ajax": "{% url 'rest_piece' %}",
            "columns": [
            {"className": 'details-control'},
            {"className": 'details-control'},
            {"className": 'details-control'},
            {"className": 'details-control'},
            {"className": 'details-control'},
            {"className": 'details-control'},
            {"className": 'details-control'},
            {"className": 'details-control'},
            {"className": 'details-control'},
            {"className": 'details-control'}
            ],

        });
        {% comment %}table.page.jumpToData( "Idyla", 1 ){% endcomment %}
    });
</script>

<script>

    $(document).ready(function() {
        $('#piece tbody').on('click', 'tr', function () {
            var pieceId = $(this).find("td:first").text();
            var url = '{% url 'piece_detail' 999 %}'.replace (999, pieceId);

            $.ajax({
                url: url,
                success:
                        function(data){
                            $("#ex2").html(data);

                            console.log(data)
                        }
            })
        });
    });




    $(document).ready(function(){

        $(".btn1").click(function(){
            $("#ex2").hide();
            $("#ex1").width("100%")
        });
        $(".show").click(function(){
            $("#ex2").show();
            $("#ex1").width("70%")
        });
    });

</script>

{% comment %}<script>


            $('li').on('click', function () {

            var class_name = $(this).attr('class');
                alert(class_name);

            if (class_name.indexOf("album") > -1){
                var n = class_name.lastIndexOf('_');
                var albumId = class_name.substring(n + 1);

                var url = '{% url 'album_detail' 999 %}'.replace (999, albumId);
            }
            $.ajax({
                url: url,
                success:
                        function(data){
                            $("#ex2").html(data);

                            console.log(data)
                        }
            })
        });


</script>{% endcomment %}

</html>